fastapi
uvicorn[standard]
llama-index
openai
psycopg2-binary
pgvector
python-dotenv
pytesseract
pdfplumber
watchdog
llama-index-vector-stores-postgres
sqlalchemy
pydantic
qdrant-client
python-multipart
pillow
pdf2image
langchain
langchain-openai
python-docx
openpyxl